body {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container blockquote {
    border: 2px solid #505050;
    border-radius: 10px;
    padding: 2vw;
    margin-top: 5vh;
    text-align: left;
    width: 50vw;
    font-size: 16px;
}

.container button {
    background-color: #9fc0f4;
    padding: 1vw;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin-top: 2vh;
}

.container button:hover {
    background-color: #79a2e4;
}

.poemContainer {
    display: flex;
    align-items: left;
}

#output {
    max-width: 50vw;
    display: flex;
    justify-content: center;
    text-align: left;
}

.containerOut {
    display: flex;
    flex-direction: row;
    gap: 25vw;
    justify-content: space-between;
}

/*Setting up the collage in a Fibonacci pattern!*/

.img1-1 {
    width: 4vmin;
    height: 4vmin;
    /* background-color: red; */
}

.img1-2 {
    width: 4vmin;
    height: 4vmin;
    /* background-color: orange; */
}

.img2 {
    width: 8vmin;
    height: 8vmin;
    /* background-color: yellow; */
}

.img3 {
    width: 12vmin;
    height: 12vmin;
    /* background-color: green; */
}

.img5 {
    width: 20vmin;
    height: 20vmin;
    /* background-color: blue; */
}

.img8 {
    width: 32vmin;
    height: 32vmin;
    /* background-color: purple; */
}

.img13 {
    width: 52vmin;
    height: 52vmin;
    /* background-color: gray; */
}

.containerVert {
    display: flex;
    flex-direction: column;
}

.containerHor {
    display: flex;
    flex-direction: row;
}