body {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container blockquote {
    border: 2px solid #505050;
    border-radius: 10px;
    padding: 2vw;
    margin-top: 5vh;
    text-align: left;
    width: 50vw;
    font-size: 16px;
}

.container button {
    background-color: #9fc0f4;
    padding: 1vw;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin-top: 2vh;
}

.container button:hover {
    background-color: #79a2e4;
}

.poemContainer {
    display: flex;
    align-items: left;
}

#output {
    max-width: 50vw;
    display: flex;
    justify-content: center;
    text-align: left;
}

.containerOut {
    display: flex;
    flex-direction: row;
    gap: 25vw;
    justify-content: space-between;
}
